@import "tailwindcss";
#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.navbar{
  transition: transform 500ms;
}
.navbar:hover{
  transform: translateY(-0.3rem);
  cursor:pointer;
}
.active{
  color: #ffffff;
}

.resumeBtn {
  border-radius: 0.5rem;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-family: "Poppins";
  background-color: rgba(0, 219, 157, 0.7);
  color: #ffffff;
  cursor: pointer;
  filter: drop-shadow(0 0 2.8rem rgba(0, 219, 157, 0.8));
}

.animationAbt{
  background-color: rgba(0, 219, 157, 0.5);
  border-radius: 0.2rem;
}
