@import "tailwindcss";
#root {
  margin: 0rem;
  padding: 0.8rem;
  text-align: center;
}

.navItem{
  transition: transform 300ms;
}
.active{
  color: #ffffff;
}

.navbar{
  backdrop-filter: blur(8px);
  background: linear-gradient(
    to top,
    rgba(240, 240, 240, 0.12),
    rgba(255, 255, 255, 0)
    )
}

@media (min-width: 1080px) {
  .navbar{
    background: linear-gradient(
    to top,
    rgba(240, 240, 240, 0.1),
    rgba(255, 255, 255, 0)
    )
  }
  .navItem:hover{
    transform: translateY(-0.3rem);
    cursor:pointer;
  }
}

 @media screen and (max-width: 770px){
   .navItem{
     padding: 0 0;
   }
 }

 @media (max-width: 370px){
   .navbar{
     flex-wrap: wrap;
   }
 }

.resumeBtn {
  color: #ffffff;
  cursor: pointer;
  filter: drop-shadow(0 0 3rem rgba(0, 219, 157, 0.8));
}

.homeIcon {
  opacity: 0.2;
}

.homeIcon:hover{
  opacity: 1;
  filter: drop-shadow(0 0 0.2rem rgba(0, 219, 157, 0.8));
}
.card{
  backdrop-filter: blur(8px);
  background: linear-gradient(
    to top,
    rgba(240, 240, 240, 0.1),
    rgba(255, 255, 255, 0)
    )
}
