@import "tailwindcss";
#root {
  margin: 0rem;
  padding: 0.8rem;
  text-align: center;
}

.navbar{
  transition: transform 300ms;
}
.navbar:hover{
  transform: translateY(-0.3rem);
  cursor:pointer;
}
.active{
  color: #ffffff;
}

 @media screen and (max-width: 780px){
   .navbar{
     flex: 1;
     flex-wrap: wrap;
   }
 }

.resumeBtn {
  margin: 0;
  padding: 0.3em 0.5em;
  background-color: rgba(0, 219, 157, 0.7);
  color: #ffffff;
  cursor: pointer;
  filter: drop-shadow(0 0 3rem rgba(0, 219, 157, 0.8));
}

.animationAbt{
  background-color: #132d21;
  color: #33b074;
  border-radius: 0.7rem;
}

 @media screen and (max-width: 780px) {
   .termImg{
     display: none
   }
 }

 .termImg {
  mask-image: linear-gradient(to right, transparent 0%, black 45%, black 100%, transparent 100%),
               linear-gradient(to top, transparent 0%, black 5%, black 95%, transparent 100%);
  mask-composite: intersect;
  -webkit-mask-composite: destination-in;
}
